@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.25%;

}
.nav-container{
    background-color: #353535;
    color: white;
    display: flex;
    position: fixed;
    width: 100vw;
    padding: 3rem 4rem;
    transition: all .4s ease;
    
}
.nav{
    max-width: 120rem; 
    width: 100rem;
   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.nav .nav__list{
    display: flex;
    list-style-type: none;
}
.nav .nav__item{
    padding-left: 1rem;
}
.nav .nav__link:link,.nav .nav__link:visited{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: all .4s ease;

}
.nav .nav__link:hover {  
    transform: scale(1.2);
    color: red;
 
}
.nav .nav__link:active {   
    color: red;
 
}
.nav-container.active{
    color: #353535;
    background-color: white; 
    padding: 1.5rem 4rem;
    
}

body{
    font-size: 1.6rem;
    font-family: "Open Sans",sans-serif;
    overflow-x: hidden;
    
    color: #555555;
    letter-spacing: 1.2px;
}

.hero{
    background-image: url(./img/christin-hume-hBuwVLcYTnA-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: -2;
    padding: 1rem;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}

.container{
    max-width: 120rem;
    margin: 0 auto; 

}
 
.content {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    
}
.content .content__title{
    margin-bottom: 1rem;
}
.content .content__text{
    margin-bottom: 1rem;
}
.mt-5{
    margin-top: 5rem !important;
}