@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html.dark {
    --primary-color: black;
    --secondary-color : white;
}
:root{
    --primary-color: white;
    --secondary-color : black;
}
html {
    font-size: 62.25%;
    
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Roboto";
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--secondary-color); 
    transition: all .4s ease-in;
}


.btn {
    padding: .8rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all .4s ease-in;
}

.btn:focus{
    outline: none;
}

.clock {
    position: relative;
    height: 20vh; 
}

.clock .niddle { 
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 4px;
    height: 100%;  
    transform-origin: bottom center;
    transform: translate(-50%,-100%) ;
}
.clock .niddle.second {
    height:  100%; 
    background-color: var(--secondary-color);
    transform: translate(-50%,-100%) rotate(0deg) ;
    transition: all .4s ease-in;
}
.clock .niddle.minute {
    height: 75%; 
    background-color: var(--secondary-color);
    transform: translate(-50%,-100%) rotate(0deg) ;
    transition: all .4s ease-in;
}
.clock .niddle.hour {
    height:50%; 
    background-color: orange;
    transform: translate(-50%,-100%) rotate(0deg) ;
    transition: all .4s ease-in;
}
.clock .circle {
    width: 1.5rem;
    height: 1.5rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border-radius: 50%;
    background-color: grey;
}
.clock .circle::after {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    background-color: var(--secondary-color);
    transition: all .4s ease-in;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 10;
}
.date-container {
    text-align: center;
}
.date-container .time {
    font-size: 5rem;
}
.date-container .day-month-date {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.date-container .day-month-date .date{
     background-color: var(--secondary-color);
     color: var(--primary-color);
     width: 1.5em;
     height: 1.5em;
     border-radius: 50%;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     transition: all .4s ease-in;
}