@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@100;400&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-size: 62.25%;
}
body{
    font-size: 1.6rem;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4C4646;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: "Fredoka",sans-serif;

}

.container{
    transform: translateY(-10%);
}
.heading{
    display: flex;
    justify-content: center;
    font-size: 18rem;
    font-weight: 200;
    margin-bottom: 3rem;
}
  .heading--small{ 
    font-size: 2rem; 
    font-weight: 200;
}
#insert{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#insert .key{
    margin: 1rem 2rem; 
    background-color:  #625D5D; 
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 5px;
    overflow: hidden;

}
.key .key__heading{
    flex-grow: 1;
    background-color:  #4166F5;
    width: 100%;
    text-align: center;
    padding: .5rem;

}
.key .key__value{
    flex-grow: 3; 
    padding: 1.5rem ;


}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    padding: 3rem;
}
.footer .footer__link{
    text-decoration: none;
    color: #427977 ;
    font-size: 1.8rem;
}